<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.input :movie_id, as: :select, include_blank: false, collection: Movie.order(name: :asc) %>
    <%= f.submit "Create Bookmark", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
