.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 16px 48px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #F9014F;
}

.btn-ghost-red {
  color: #F9014F;
  border: 1px solid #F9014F;
  padding: 16px 48px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost-red:hover {
  opacity: 0.6;
  color: $red;
}

.btn-ghost-red-sm {
  color: #F9014F;
  border: 1px solid #F9014F;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost-red-sm:hover {
  opacity: 0.6;
  color: $red;
}
